<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="false" startupTimeLimit="3600"/>
  </system.webServer>

  <appSettings>
    <add key="auth0:ClientId" value="iFPpIN3eHQrwhXn7ibnw3Lr4tO5gVlJ4" />
    <add key="auth0:ClientSecret" value="7fBlsDnzu-79iBZ1jL9BJrzMecW5Xq-gPKKONdUlfbhmiVEmz_ZnnOTrSF9vV_sG" />
    <add key="auth0:Domain" value="gatewayz.auth0.com" />
  </appSettings>
</configuration>
