@{
    ViewBag.Title = "About Page";
}

<body class="aboutpage">

    <div class="Logo">
        <a href="~/App/Index"><img src="~/Images/Logo.jpg" style="height:100px; width:300px" /></a>
    </div>

    <div class="contacts">
        <ul>
            <li><a>President</a></li>
            <li><a>Vice President</a></li>
            <li><a>Secretary</a></li>
            <li><a>Treasurer</a></li>
            <li><a>Membership Director</a></li>
            <li><a>Webmaster</a></li>
            <li><a>Social media coordinator</a></li>
        </ul>
    </div>

    <div class="clubinfo">
        <div class="popboarder">
            <p>CLUB INFO</p>
            <img src="~/Images/z-arch.jpg" class="infopic" />
            <img src="~/Images/z-arch.jpg" class="infopic2" />
        </div>

        <p>This will be club info that will be static and not move or change layers. The nav bar on the side will bring an profile box the same size to the top layer so it takes the place of this box.</p>
    </div>

</body>
