@{
    ViewBag.Title = "Events Page";
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                theme: false,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeel,agendaDay'
                },

                buttonIcons: {
                    prev: 'left-single-arrow',
                    next: 'right-single-arrow'
                },

                defaultView: 'month',
                editable: true,
                allDaySlot: false,
                selecttable: true,
                slotMinutes: 15
            })
        });

        $('#calendar').fullCalendar({
            dayClick: function (date, jsEvent, view) {
                // change the day's background color just for fun
                $(this).css('background-color', 'red');

            }
        })
            $('#calendar').fullCalendar({   
                eventMouseover: function (event, jsEvent, view) { $(this).css('background-color', 'red'); }
            })
            $('#calendar').fullCalendar({   
                eventMouseout: function (event, jsEvent, view) {
                    $(this).css('background-color', 'red');
                }
            })
        
    </script>
}

<div class="clubinfo">
    @*<div class="jumbotron">
        <hi>Full Calendar Demo</hi>
    </div>*@

    <div class="row">
        <div class="col-md-12" style="z-index:2">
            <div id="calendar"></div>
        </div>
    </div>
</div>