@{
    ViewBag.Title = "Events Page";
}

@section scripts{
    <script type="text/javascript">
        //$('#btnInit').click(function(){
        //    $.ajax({
        //        type: 'POST',
        //        url: "~/App/PopulateCalendar",
        //        success: function (response){
        //            if (response == 'True'){
        //                $('calendar').fullCalendar('refetchEvents');
        //                alert('Database populated!');
        //            }
        //            else{
        //                alert('Error, could not populate database!');
        //            }
        //        }
        //    });
        //});

        $(document).ready(function () {

            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            var eventModal = $('#EventModal');

            var calendar = $('#calendar').fullCalendar(
			{
			    header:
				{
				    left: 'prev,next today',
				    center: 'title',
				    right: 'month,agendaWeek,agendaDay'
				},

			    defaultView: 'month',

			    selectable: true,
			    selectHelper: true,

			    select: function (start, end, allDay) {
			    
			        //var title = prompt('Event Title:');
			        var title = eventModal.modal('show');
			        //var title = $('#EventModal').modal('show');

			        if (title) {
			            calendar.fullCalendar('renderEvent',
							{
							    title: title,
							    start: start,
							    end: end,
							    allDay: allDay
							},
							true // make the event "stick"
						);
			        }
			        calendar.fullCalendar('unselect');
			    },

			    editable: true,

			    events: "/App/GetEvents/" 
			});
        });
    </script>
}

    <div class="clubinfo">
        <div class="row">
            <div class="col-md-12">
                <div id="calendar"></div>
            </div>
        </div>
    </div>

<div id="EventModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
