@{
    ViewBag.Title = "Events Page";
}

@section scripts{
    <script type="text/javascript">
        //$('#btnInit').click(function(){
        //    $.ajax({
        //        type: 'POST',
        //        url: "~/App/PopulateCalendar",
        //        success: function (response){
        //            if (response == 'True'){
        //                $('calendar').fullCalendar('refetchEvents');
        //                alert('Database populated!');
        //            }
        //            else{
        //                alert('Error, could not populate database!');
        //            }
        //        }
        //    });
        //});

        $(document).ready(function () {

            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            var calendar = $('#calendar').fullCalendar(
			{
			    header:
				{
				    left: 'prev,next today',
				    center: 'title',
				    right: 'month,agendaWeek,agendaDay'
				},

			    defaultView: 'month',

			    selectable: true,
			    selectHelper: true,

			    select: function (start, end, allDay) {

			        var title = prompt('Event Title:');

			        if (title) {
			            calendar.fullCalendar('renderEvent',
							{
							    title: title,
							    start: start,
							    end: end,
							    allDay: allDay
							},
							true // make the event "stick"
						);
			        }
			        calendar.fullCalendar('unselect');
			    },

			    editable: true,

			    events: "/App/GetEvents/" 
			});
        });
    </script>
}

    <div class="clubinfo">
        <div class="row">
            <div class="col-md-12">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
