@{
    ViewBag.Title = "Events Page";
}

<h1>Events Page</h1>
<div class="centerCalender">
    <iframe src="https://calendar.google.com/calendar/embed?src=eassye1%40yahoo.com&ctz=America/Chicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>