@{
    ViewBag.Title = "Gallery 2002";
}

<script type="text/javascript">

</script>

<div id="background">
    <img src="~/Images/aboutpagebg.jpg" alt="bgimage" />
</div>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    @*<ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>*@

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        <div class="item active">
            <div class="container-">
                <div class="row">
                    <div class="col-md-12">
                        <div class="thumbnail">
                            <img src="~/Images/Zcar2.jpg" class="Lightboxfullpic"/>
                        </div>
                        <div class="container">
                            <div class="row">
                                
                                <div class="col-md-12">
                                    <div class="lightboxpicrow">
                                        <div class="col-md-2">
                                            <div class="thumbnail">
                                                <img src="~/Images/Zcar3.jpg" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="thumbnail">
                                                <img src="~/Images/Zcar4.jpg" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="thumbnail">
                                                <img src="~/Images/Zcar2.jpg" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="thumbnail">
                                                <img src="~/Images/Zcar4.jpg" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="thumbnail">
                                                <img src="~/Images/Zcar3.jpg" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="thumbnail">
                            <img src="~/Images/Zcar3.jpg" />
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="thumbnail">
                            <img src="~/Images/Zcar4.jpg" />
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
