@{
    ViewBag.Title = "Members Page";
}

@using GatewayZ.GatewayZDAO;

@{
    var list = new UserDAO();

    string club = "GatewayZ";

    var names = list.UsersList(club);
    <div class="contacts">
        <ul>
            @foreach (var name in names)
            {
                <li id="toggleAboutClubInfo"><a>@name</a></li>
            }
        </ul>
    </div>
}


