@{
    ViewBag.Title = "Members Page";
}

@using GatewayZ.GatewayZDAO;

@{
    var list = new UserDAO();

    string club = "GatewayZ";

    var names = list.UsersList(club);
    <div class="contacts">
        <ul>
            @foreach (var name in names)
            {
                <li id="toggleAboutClubInfo"><a>@name</a></li>
            }
        </ul>
    </div>
}
<div id="background">
    <img src="~/Images/RoadBG.jpg" />
</div>

<div class="MemberThumbShowArea">
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-3">
                <a href='~/Images/Zcar1.jpg' class="thumbnail">
                    <img src="~/Images/Zcar1.jpg">
                </a>
            </div>
            <div class="col-md-3">
                <a href='~/Images/Zcar2.jpg' class="thumbnail">
                    <img src="~/Images/Zcar2.jpg">
                </a>
            </div>

            <div class="col-md-3">
                <a href='~/Images/Zcar1.jpg' class="thumbnail">
                    <img src="~/Images/Zcar1.jpg">
                </a>
            </div>
            <div class="col-md-3">
                <a href='~/Images/Zcar2.jpg' class="thumbnail">
                    <img src="~/Images/Zcar2.jpg">
                </a>
            </div>
            <div class="col-md-3">
                <a href='~/Images/Zcar1.jpg' class="thumbnail">
                    <img src="~/Images/Zcar1.jpg">
                </a>
            </div>


            <div class="col-md-3">
                <a href='~/Images/Zcar3.jpg' class="thumbnail">
                    <img src="~/Images/Zcar3.jpg">
                </a>
            </div>
            <div class="col-md-3">
                <a href='~/Images/Zcar4.jpg' class="thumbnail">
                    <img src="~/Images/Zcar4.jpg">
                </a>
            </div>

            <div class="col-md-3">
                <a href='~/Images/Zcar3.jpg' class="thumbnail">
                    <img src="~/Images/Zcar3.jpg">
                </a>
            </div>
            <div class="col-md-3">
                <a href='~/Images/Zcar4.jpg' class="thumbnail">
                    <img src="~/Images/Zcar4.jpg">
                </a>
            </div>
        </div>


    </div>
</div>

