@{
    ViewBag.Title = "Unauthorized User";
}

<div class="UnAuthorizedBackground">
    <p><img src="~/Images/WarningSign.png" style="float:left"/><strong>Sorry! You are not authorized to view this page!<a href="~/App/Index">Click Here to Return to Home Page</a></strong></p>
</div>