@{
    ViewBag.Title = "About Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2 col-sm-4 col-md-4">
            <div class="contacts">
                <ul>
                    <li id="toggleAboutClubInfo"><a>About Club</a></li>
                    <li id="togglePresidentInfo"><a>President</a></li>
                    <li id="toggleVicePresidentInfo"><a>Vice President</a></li>
                    <li id="toggleSecretaryInfo"><a>Secretary</a></li>
                    <li id="toggleTreasurerInfo"><a>Treasurer</a></li>
                    <li id="toggleMembershipDirectorInfo"><a>Membership Director</a></li>
                    <li id="toggleWebmasterInfo"><a>Webmaster</a></li>
                    <li id="toggleSocialMediaCoordinatorInfo"><a>Social Media Coordinator</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-offset-4  col-xs-8 col-sm-8 col-md-8">
        <div id="Contactinfobox">
            <div id="ContactinfoHeader">
                <p>CLUB INFO</p>
            </div>
            <div id="ContactinfoboxInner">
                <div class="Aboutclub">
                    <p>
                        <strong>
                            Meetings are held on the third Wednesday of each month at 6:00 PM at Rib City BBQ located at 1181 Colonnade Center, Des Peres, 63131 (on Manchester Road at 270. Annual dues are $35. In addition to club driving events and social activities, members enjoy a monthly newsletter and a free T shirt with initial membership and your annual renewal, . You can download the membership form <a href="#">HERE</a> if you would like to print it and fill out in advance of a meeting or event. If you can’t see/print the form you may need to ensure you have a current version of Adobe Acrobat for your system. You can also mail the completed form along with the $35 membership fees to the address on the form.
                        </strong>
                    </p>
                </div>

                <div class="Contactprofile" id="Presprofile">
                    <div class="contentImage">
                        <img src="~/Images/clubLogoFromPDF.jpg" alt="logo" class="img-rounded contentPic" />
                    </div>

                    <div class="contentText">
                        <p><strong>Name:</strong> Jeff Polsgrove</p>
                        <p><strong>Role:</strong> President</p>
                        <p>
                            <strong>Club History:</strong> I am a Z enthusiasts since my purchase of  a 1983 280ZX Turbo back in 1988. I hung on to that car for 15 years and decided to "restore" it in 2003. I got one proposal from a body shop of $20,000 to do the restoration. I decided I could do it myself much cheaper. I took it all the way apart, completely dorked the car up, and trashed it. But I was bitten by the restoration bug at that point, so I backed up and got a 72 240Z, did MUCH reading and research and brought in some experts to help and advise me. The restoration was awesome (pictures in my personal profile). I followed that up with a V8 conversion on a 1982 ZX using a 350V8 I built from scratch in my garage, courtesy of some amazing engine work for Hovis racing engines, and then I purchased  a beautiful black and gold 83 ZX Turbo from Mark at Z-works. I've scaled my inventory back to only my 240, with a plan to sell that one and finance my dream 350 or 370.
                            I've been a member of the club from 2001 thru 2006, before moving to Kentucky. After moving back to St. Louis in 2012, I rejoined the club and became club president that same year. My wife, Lauren is active in the club with me as we host 2 or 3 events a year, primarily a Kentucky Derby Party in May and the club Christmas party in December. My kids are Colten (8), Addison (10), Jenna (24) and Jason (29).
                        </p>
                    </div>
                </div>

                <div class="Contactprofile" id="Vicepresprofile">
                    <div class="contentImage">
                        <img src="~/Images/bruceZCar.jpg" alt="logo" class="img-rounded contentPic" />
                    </div>

                    <div class="contentText">
                        <p><strong>Name:</strong> Bruce West</p>
                        <p><strong>Role:</strong> Vice President</p>
                        <p><strong>Club History:</strong> My name is Bruce West. My wife is Susan and we have twin daughters Cynthia and Elizabeth along with 3 rambunctious grandsons. I joined the Gateway Z Club in 1999 and have served as President, Vice President, Editor, cruise director and honorary historian. We have owned four Z's…..a 1978 280Z 2+2, 1980 280ZX slicktop, 1988 300ZX 5 Speed and my present Z, a 1985 300ZX GLL. We have driven our present Z on vacations to Mount Rushmore S.D., Nashville TN. and Daytona Beach Fl. because we love to drive it. We have made numerous good 'Z nation' friends through the years and we enjoy the special connection that Z cars bring to our friendships.</p>
                    </div>
                </div>

                <div class="Contactprofile" id="Secprofile">
                    <div class="contentImage">
                        <img src="~/Images/jill.jpg" alt="logo" class="img-rounded contentPic" />
                    </div>

                    <div class="contentText">
                        <p><strong>Name:</strong> Jill Cummins</p>
                        <p><strong>Role:</strong>Secretary</p>
                        <p><strong>Club History:</strong> Back in the late 2000’s, my boyfriend and I both had 300 ZX’s.  Both were blue, both had T-tops, one was an automatic and the other was a 5 speed. One day he told me there was a local Z car club! Really? How cool was that? We came to a meeting, we joined, and the rest is history. Literally, history. Boyfriend gone…Z’s gone… all history!. But I'm still here! I've been Membership Director since 2010 became club Secretary in 2013 when the club went thru its most recent leadership change.</p>
                    </div>
                </div>

                <div class="Contactprofile" id="Treasurerprofile">
                    <div class="contentImage">
                        <img src="~/Images/CathyScott.jpg" alt="logo" class="img-rounded contentPic" />
                    </div>

                    <div class="contentText">
                        <p><strong>Name:</strong> Cathy Scott</p>
                        <p><strong>Role:</strong>Treasurer</p>
                        <p>
                            <strong>Club History:</strong> I'm not sure I had ever heard the word Datsun until 1976.  That's when
                            I met my future hubby Steve and he convinced me to sell my Mercury Montego and
                            buy a B210.  By 1977 we were married (Steve and I...not me and my B210) and we traded that brand new car for
                            a '72 240Z (my idea but no argument from Steve).
                            This was my daily driver in the winters of NWMO (bad idea).  We
                            traded that Z for a '78 Datsun 810...predecessor to the Maxima.  At
                            this time I drive a '95 Maxima 5 speed and ride side car in a '76 280Z
                            2+2 hanging out the window with my camera.
                            I am currently the treasurer of the club and  so  happy  these cars led us to a bunch of good friends!
                        </p>
                    </div>
                </div>

                <div class="Contactprofile" id="Mdirectorprofile">
                    <div class="contentImage">
                        <img src="~/Images/jill.jpg" alt="logo" class="img-rounded contentPic" />
                    </div>

                    <div class="contentText">
                        <p><strong>Name:</strong> Jill Cummins</p>
                        <p><strong>Role:</strong>Membership Director</p>
                        <p><strong>Club History:</strong> Back in the late 2000’s, my boyfriend and I both had 300 ZX’s.  Both were blue, both had T-tops, one was an automatic and the other was a 5 speed. One day he told me there was a local Z car club! Really? How cool was that? We came to a meeting, we joined, and the rest is history. Literally, history. Boyfriend gone…Z’s gone… all history!. But I'm still here! I've been Membership Director since 2010 became club Secretary in 2013 when the club went thru its most recent leadership change.</p>
                    </div>
                </div>

                <div class="Contactprofile" id="Webmasterprofile">
                    <div class="contentImage">
                        <img src="~/Images/clubLogoFromPDF.jpg" alt="logo" class="img-rounded contentPic" />
                    </div>

                    <div class="contentText">
                        <p><strong>Name:</strong> Erick Lynn</p>
                        <p><strong>Role:</strong>Webmaster</p>
                        <p><strong>Club History:</strong> This section will contain a brief description about the member and their club history.</p>
                    </div>
                </div>

                <div class="Contactprofile" id="Smediacoordprofile">
                    <div class="contentImage">
                        <img src="~/Images/clubLogoFromPDF.jpg" alt="logo" class="img-rounded contentPic" />
                    </div>

                    <div class="contentText">
                        <p><strong>Name:</strong> (Open)</p>
                        <p><strong>Role:</strong>Social Media Coordinator</p>
                        <p><strong>Club History:</strong> This section will contain a brief description about the member and their club history.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('.Contactprofile').hide();
        });

        $("#toggleAboutClubInfo").click(function () {
            $(".Contactprofile").hide();
            $(".Aboutclub").fadeIn(2000);
        });

        $("#togglePresidentInfo").click(function () {
            $(".Aboutclub").hide();
            $(".Contactprofile").hide();
            $("#Presprofile").fadeIn(2000);
        });

        $("#toggleVicePresidentInfo").click(function () {
            $(".Aboutclub").hide();
            $(".Contactprofile").hide();
            $("#Vicepresprofile").fadeIn(2000);
        });

        $("#toggleSecretaryInfo").click(function () {
            $(".Aboutclub").hide();
            $(".Contactprofile").hide();
            $("#Secprofile").fadeIn(2000);
        });

        $("#toggleTreasurerInfo").click(function () {
            $(".Aboutclub").hide();
            $(".Contactprofile").hide();
            $("#Treasurerprofile").fadeIn(2000);
        });

        $("#toggleMembershipDirectorInfo").click(function () {
            $(".Aboutclub").hide();
            $(".Contactprofile").hide();
            $("#Mdirectorprofile").fadeIn(2000);
        });

        $("#toggleWebmasterInfo").click(function () {
            $(".Aboutclub").hide();
            $(".Contactprofile").hide();
            $("#Webmasterprofile").fadeIn(2000);
        });

        $("#toggleSocialMediaCoordinatorInfo").click(function () {
            $(".Aboutclub").hide();
            $(".Contactprofile").hide();
            $("#Smediacoordprofile").fadeIn(2000);
        });
    </script>
}