@{
    ViewBag.Title = "Gallery 2003 Car Show";
}

<div class="container-fluid" style="overflow-y: scroll; height:700px;">
    @{
        for (int i = 1; i <= ViewBag.fileCount2003Folder; i++)
        {
            <a href="~/Images/Gallery/2003/CarShow/1 (@i).jpg" data-lightbox="roadtrip"><img src="~/Images/Gallery/2003/CarShow/1 (@i).jpg" style="height:150px; width:250px" /></a>
        }
    }
</div>