<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/fullcalendar.css" />
</head>
<body>
    <div class="topNav">
        <ul>
            <li><a href="~/App/Index">Home</a></li>
            <li><a href="~/App/About">About</a></li>
            <li><a href="~/App/History">History</a></li>
            <li><a href="~/App/Events">Events</a></li>
            <li><a href="~/App/Members">Members</a></li>
            <li><a href="~/App/Gallery">Gallery</a></li>
            <li><a href="~/App/Admin">Admin</a></li>
        </ul>
    </div>

    <div>
        @RenderBody()
    </div>

    <div id="footer">
        &copy; 2016 Gateway Z Club
    </div>

    <script src="~/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/jquery-2.2.1.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/fullcalendar.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
