
/*////////////////////////////////////       HOME PAGE CSS      //////////////////////////////*/

.Logo{
    position: fixed; 
    top:0; 
    left:auto;
    max-width:40%;  
    height:auto;
    width:180px;   
}


.RegisterLink {
    float:right;
    font-size:13px;
    text-decoration:underline;
    text-align:left;
}

.RecoverPasswordLink {
    float:right;
    font-size:13px;
    text-decoration:underline;
}

.loginBackGround{
    position: absolute;
    width:auto;
    height: auto;
    max-width:55%;
    margin-left:auto;
    margin-right:0px;
    padding: 10px;     
    border: 2px solid black;
    opacity: 10;
	top: 0px;
	right: 0px;
    z-index:1;
    background-image: url('../images/escheresque.png');
}

div.Joinclubbox{
    position:fixed;
    top: 150px;
	right: 0px;
    max-width:55%;
    width:275px;
    height:auto;
}

.JoinclubPic{
    max-width:100%;
    height:auto;
    top: 10%;
	right: 0px;
}
div.login{
    position: relative;
    color:black;
    z-index:2;
}

#footer{
    background-color: #222;
    color: #eee;
    padding: 8px 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

div.Navbox {
    position: absolute;
    top: 170px;   
    z-index: 1;
     max-width:40%;  
    height:auto;
    width:180px;
}

.Navbox ul {
    list-style-type: none;
    margin: 0;
    padding: 0;  
    stroke-width: 2px;
    stroke:rgb(0,0,0);
    z-index: 2;
}

.Navbox li{   
    border: .5px solid black; 
    opacity: 0.8;
    z-index: 3;
    background-image: url('../images/escheresque.png');
}

.Navbox li a{
    font-weight: bold;
    text-align:center;
    display: block;
    color: black;
    padding: 8px 0 8px 0;    
    text-decoration: none;
}

.Navbox li:hover{
    opacity: 1.0;
    z-index: 4;
    background-image: url('../images/escheresque_ste.png');
}

.UpcommingEvents{
    position:fixed;
    top:325px;
    right:0px;
    display: block;

    opacity: 0.9;
    background-image: url('../images/escheresque.png');
    max-width:55%;
    width:275px;
    height:auto;   
    border: 5px outset red;
}

.UpcommingEventsHeader{
    background-image: url('../images/escheresque_ste.png');
    width: 100%;
    height:auto;
    color: white;
    text-align: center;
    border-bottom: 5px outset red;
    font-size: 20px;
    text-decoration: underline;
}

/*.UpcomingEventsListItemsUL{  
    position:absolute;     
    left:0px;
     width:100%;
}

.UpcomingEventsListItemsLI{
    position:absolute;
    border: .5px solid black;
    left: 0px;
    width: 100%;
    height: 15px;
}*/
/* Change the link color on hover */
.Navbox li a:hover {
    background-color: black;
    color: white;
    opacity: 1.0;
    filter: alpha(opacity=100);
    z-index: 4;
    background-image: url('../images/escheresque_ste.png');
}

.topNav  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    z-index:1;
    position:relative;
    max-height:50px;
}

.topNav li {
    float: right;
}

.topNav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.topNav li a:hover {
    background-color: #111;
}

.centerCalender {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.centerForm {
    margin: auto;
    width: 80%;
    padding: 10px;
}

html,
body { 
    font-family:sans-serif;  
}

.Hero{
    position:fixed;
    width:auto;
    min-width:100%;
    min-height:100%;
   padding:0 -20px;

}

.Heroinner {
    margin: 0 -20px 0 -15px;
}

.item{
    object-fit:fill;
}



/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
   position:relative;
}

footer {
    margin: 50px 0;
}

/*////////////////////////////////         ABOUT PAGE CSS          ////////////////////////////*/


.contacts {
    position: absolute;   
    z-index: 6;
    left:0px;
    float:left;

}

.contacts ul {
    list-style-type: none;
    margin: 0;
    padding: 0;  
    width: 100%;
    height: 100%;
    stroke-width: 2px;
    stroke:rgb(0,0,0);
    z-index: 6;
    border: 5px outset red;
}

.contacts li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    opacity: 0.8;
    background-image: url('../images/escheresque.png');
    
}

/* Change the link color to #111 (black) on hover */
.contacts li a:hover {
    color: white;
    opacity: 1.0;
    background-image: url('../images/escheresque_ste.png');
}

.clubinfo {
    position: fixed;      
    width: 80%;
    height: 80%;
    border: 5px outset red;
    background-color:gainsboro;
    z-index: 1;
}

.Contactinfobox{
    position: fixed;
    width: 50%;
    height:70%;
    border: 5px outset red;    
    background-image: url('../images/escheresque.png');
    z-index: 3;
    float:right;
    
}


.infopic{
    position:absolute;
    top: 0px;
    left: 0px;  
    height: 12%;
}

.infopic2{
    position:absolute;
    top: 0px;
    right: 0px; 
     height: 12%;
   }


.infopics{  
   
   max-height: 100%;

}
.popboarder{
    width: 100%;
    height: 12%;   
    color: white;
    background-color: black;
    text-align:center;
    text-decoration: underline;
    font-size: 5vw;
    font-size: 5vh;
}





 .contentPic{
    max-width: 40%;
    max-height: 200px;
    float:left;
 }

 .contentText{
    position:relative;
    top:85%;    
    width: 100%;
    height: 100%;
    color:black;
 }



/*/////////////////////////////////////////       HISTORY PAGE           /////////////////////////////////////*/


  .HistoryContent
 {
     
     margin-top:100px;
     text-align:center;
     color:black;
      position: absolute; 
      top:50px;  
    width: 70%;
    height: -80%;
    border: 5px outset red;
    background-color:gainsboro;
    z-index: 1;
 }

  .Timepicadd {
      /*top:0px;
      left:0px;*/
      position:center;
      margin-top:-50px;
      margin-left:-50px;
      width: 200px;
    height: 200px;
    float:left;
  }


#Historytimeline{

    position:absolute;
   top:50px;
    height: 7px;
    width:80%;
    background: red; 
    background: -webkit-linear-gradient(left, red , yellow,green); 
    background: -o-linear-gradient(right, red, yellow,green); 
    background: -moz-linear-gradient(right, red, yellow,green); 
    background: linear-gradient(to right, red , yellow,green); 
    

 }

 .Tpic{
 border:3px,groove,black;
    width:75px;
    height:75px;

 }

 #Time1 {
     position:absolute;
     left:0px;
     top:-35px;
   
 }



  #Time2{
     position:absolute;
     top:-35px;
     right:75%;
   
 }

   #Time3{
     position:absolute;
     top:-35px;
     right:50%;
   
 }

   #Time4{
     position:absolute;
     top:-35px;
     right:25%;
   
 }

   #Time5{
     position:absolute;
     top:-35px;
     right:0px;
   
 }

   .TLP li :hover{
       z-index:6;
   }

  

#accordion {
    position:absolute;
	list-style: none;
	padding: 0 0 0 0;
	width: 300px;
    z-index:1;
}
#accordion div {
	display: block;
	background-color: #333;
    color:white;
	font-weight: bold;
	margin: 1px;
	cursor: pointer;
	padding: 5 5 5 7px;
	list-style: circle;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 2px outset red;
    
}
#accordion ul {
    display: none;
	list-style: none;
	padding: 0 0 0 0;
}

#accordion ul li {
	font-weight: normal;
	cursor: auto;
	background-color:gainsboro;
	padding: 0 0 0 7px;
    color:black;
}
#accordion a {
	text-decoration: none;
}
#accordion a:hover {
	text-decoration: underline;
}

.controls{
    width:50px;
    display:block;
    font-size:11px;
    padding-top:8px;
    font-weight:bold;
}
.next {
    float: right;
    text-align: right;
}

 /*//////////////////////////////////////////       ADMIN PAGE            ///////////////////////////////////////*/


.Admininterface {
    position: absolute;
    top: 50%;
    left: 60%;
    margin-top: -350px;
    margin-left: -500px;
    width: 900px;
    height: 700px;
    border: 5px outset red;
    background-color: gainsboro;
    z-index: 2;
}


.Admintabbar {
    background: #333;
    height:40px;

}



/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#333;
            font-size:16px;
            font-weight:600;
            color:white;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:black;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:gainsboro;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:gainsboro;
    }
 
.tab {
     display:none;
}
 
.tab.active {
            display:block;
}



/*//////////////////////      MEMBERS PAGE        ///////////////*/

.MemberThumbShowArea {
    position: absolute;
    top: 50%;
    left: 60%;
    margin-top: -350px;
    margin-left: -500px;
    width: 900px;
    height: 700px;
    border: 5px outset red;
    background-color: gainsboro;
    z-index: 2;
}

/*/////////////////////////////History Gallery Pages//////////////////////*/
.HistoryGalleryBody{
    position:fixed;
    height:100%;
    width:100%;

}

.Lightboxfullpic{
  max-width:50%;
    height:auto;
    margin: auto;
}


.lightboxpicrow{
    height:200px;    
    margin-left:100px;    
}



body{

  background-image: url('../images/escheresque_ste.png');
 
}

/*/////////////////////////////UnAuthorized Page//////////////////////*/

.UnAuthorizedBackground {
    position:center;
    width: auto;
    height: auto;
    min-width:320px;
    bottom:40%;
    padding:20px;
    margin-top:10%;
    border: 5px outset red;
    background-image: url('../images/escheresque.png');
    z-index: 2;
    text-align:center;
   
}



.UnAuthorizedBackgroundPic {   
    min-height:50%;         
}

.UnAuthorizedBackgroundText{    
    color:black;
}

/*/////////////////////////////UnAuthorized Page//////////////////////*/

/*.RecoverPasswordBackground {
    position: absolute;
    top: 50%;
    left: 60%;
    margin-top: -350px;
    margin-left: -500px;
    width: 900px;
    height: 700px;
    border: 5px outset red;
    background-color: gainsboro;
    z-index: 2;
}*/


/*/////////////////////////////Register Page//////////////////////*/

.RegisterInfoBackground {
    position: relative;   
    width: 450px;
    height: Auto;   
    min-width:370px;
    border: 5px outset red;
    margin:0px;
    background-image: url('../images/escheresque.png');
    z-index: 2;
   
}

.RegisterInfoBackgroundHeader {
    position: relative;
    background-image: url('../images/escheresque_ste.png');
    top:-20px;
    width: 100%;
    height:auto;
    color: white;
    text-align: center;
    border-bottom: 5px outset red;
    font-size: 20px;
    text-decoration: underline;
    
}

#RegisterInfoBackgroundForm{
    padding:-20px;
    margin:0px;

}

